<table class="table table-striped table-borderless">
    <thead>
      <tr>
        <th >Id</th>
        <th >Name</th>        
      </tr>
    </thead>
    <tbody class="no-border-x">
        <tr *ngFor="let station of stations">              
          <td *ngIf="equal(station.station_units_id,id)" (click)="onSelect(station)">
              <span class="badge">{{station.id}}</span>
          </td>
          <td *ngIf="equal(station.station_units_id,id)" (click)="onSelect(station)">
              <span class="badge">{{station.name}} </span>
          </td>       
      </tr> 
            
    </tbody>
  </table>

